h1 {
  background-color: #c8c8c8;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color:light-grey;
  }

  .about-section {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    
    color:rgba(22, 21, 21, 0.781);
  }
  .container::after, .row::after {
    clear: both;
    display: table;
  }

  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .card {
     background-color:#c8d8e4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    color: black;
    border: 5px solid #2b6777 ;
    border-style:groove;
    border-bottom-color: aquamarine;
    border-top-color: aquamarine;
    border-left-color: gainsboro;
    border-right-color:gainsboro;
  }
  .container {
    padding: 0 16px;
  }

.column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
    .column {
      display: block;
    
  }
